*{
    margin: 0;
    padding: 0;
}
p{
    font-size: 10px;
}

.aside{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 169px;
    left: 0px;
    top: 0px;
    background: #434546;
    height: 100%;
    font-size: 4em;
    flex-direction: column;
}

.icons{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    color: white;
    margin: 5px;
}
.logout, .calendar, .edit{
    margin-top: 20px;
}
.avatar{
    margin-bottom: 40px;
    font-size: 1.5em;

}
.logout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom:17px;
}
