@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&family=Open+Sans:wght@300;400;600;700&display=swap");
//font-family: 'Merriweather', serif;
//font-family: 'Open Sans', sans-serif;

.bodyLogin {
  background-image: url(https://i.ibb.co/C6f7Y3f/impro.png);
  background-color: #cccccc;
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.logo-img {
  width: 80vmin;
}
.formLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 60vmin;
  height: 60vmin;
  background: rgba(246, 250, 253, 0.27);
  border: 0.2em solid #4397d2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  font-family: "Open Sans", sans-serif;
}
.title-login {
  color: #03588c;
  text-align: center;
  margin-top: 0;
  margin-bottom: 4vh;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
 
}
.title-form {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 33px;
  text-align: center;
  color: #696969;
  margin: 6px;
}
.input-login {
  border: none;
  border-bottom: 0.09em solid #4397d2;
  background: rgba(246, 250, 253, 0);
  width: 18vmax;
  font-size: 1.4vmax;
  color: rgb(54, 54, 54);
  background-color: none;
  outline: none;
  padding-left: 1vmax;
}

.input-login:invalid {
  color: #696969;
}
.input-login:valid {
  color: #289475;
}

.login-btn {
  text-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3.5em;
  position: relative;
  padding: 0.5em 2em;
  display: block;
  text-decoration: none;
  overflow: hidden;
  border-radius: 2.45em;
  border: none;
  cursor: pointer;
}

.login-btn span {
  position: relative;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.2em;
  z-index: 1;
}

.login-btn .liquid {
  position: absolute;
  top: -80px;
  left: 0;
  width: 100%;
  height: 200px;
  background: #03588c;
  box-shadow: inset 0 0 50px rgba(255, 255, 255, 0.637);
  transition: 0.5s;
}

.login-btn .liquid::after,
.login-btn .liquid::before {
  content: "";
  width: 200%;
  height: 200%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
  background: #fff;
}

.login-btn .liquid::before {
  border-radius: 45%;
  background: rgba(255, 255, 255, 0.377);
  animation: animate 5s linear infinite;
}

.login-btn .liquid::after {
  border-radius: 40%;
  background: #4396d2b4;
  animation: animate 10s linear infinite;
}

.login-btn:hover .liquid {
  top: -120px;
}

@keyframes animate {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}

.error {
  color: rgba(255, 0, 0, 0.795);
  text-align: center;
  margin-top: 1vmax;
}
