@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&family=Open+Sans:wght@300;400;600;700&display=swap");

// Paleta de colores
$white: #FFFFFF;
$blue: #03588C;
$blue2: #4397D2;
$gray: #434546;
$green: #5EBFA4;
$white2: #F2F2F2;
$letterColor: #696969;

// Fonts
$titulos: 'Merriweather';
$body: 'Open Sans';