@import '../variables.scss';

.container-dashboard {
    margin-left: 15%;
    margin-top: 1vmin;
    overflow: auto;
    h3{
        margin: 0.5vmin;
        font-family: $body;
        color: $blue;
        font-size: 3vmin;
    }

    h4{ 
        font-family: $body;
        color: $blue2;
        font-size: 2vmin;
    }
}

.career-ambition {
    h2 {
        margin: 5vmin 0 2vmin 0;
        font-family: $body;
        font-size: 5vmin;
        color: $blue;
    }
    
}
.careerText-editButton {
    display: flex;
    align-items: center;
    p {
        background-color: $white2;
        margin: 2vmin 0 2vmin 0;
        padding: 1vmin;
        font-family: $body;
        font-size: 2.5vmin;
        color: $letterColor;
        width: 50%;
        border-radius: 10px;
        height: 15vmin;
    }
    textarea {
        background-color: $white2;
        margin: 2vmin 0 2vmin 0;
        padding: 1vmin;
        font-family: $body;
        font-size: 2.5vmin;
        color: $letterColor;
        width: 50%;
        border-radius: 10px;
        height: 15vmin;
        outline: none;
        border:transparent;
        cursor:text;
    }
}
.editCareer {
    margin: 3vmin;
    height: 4vmin;
    background: transparent;
    outline: none;
    border:transparent;
    cursor: pointer;
}
.createCareer {
    margin: 0;
    height: 4vmin;
    background: transparent;
    outline: none;
    border:transparent;
    cursor: pointer;
}
.smart-goal{
    p {
        margin: 1vmin;
        background-color: $white2;
        margin: 2vmin 0 2vmin 0;
        padding: 1vmin;
        font-family: $body;
        font-size: 2.5vmin;
        color: $letterColor;
        width: 50%;
        border-radius: 10px;
        height: 15vmin;
    }
}

