@import '../variables.scss';

.personal-information {
    margin: 5vmin 0 0 20vmin;
    h3{
        margin: 0.5vmin;
        font-family: $body;
        color: $blue;
    }

    p{ 
        font-family: $body;
        color: $blue2;
        font-size: 1.5vmin;
    }
}

