@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
$color-grey: #f2f2f2;
$color-darkblue: #03588c;
$color-lightblue: #035aa6;
$color-green: #5ebfa4;


.title-calendar{
align-items: center;
justify-content: center;
align-content: center;
font-family: "Open Sans", sans-serif;
width: 70%;
margin-left:50%;
color: $color-lightblue;
}

.events {
  background-color: pink;
}
.cal {
  display: flex;
  flex-direction: column;
  width: 1154px;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 70%;
  margin-left:20%;
  font-family: "Open Sans", sans-serif;
  
}
.notes-month {
  background-color: pink;
}
.allCal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 1.5em;

}
